<link rel="stylesheet" href="/assets/css/aboutus.css">
<style>
    .intro-section {
    background-color: #f8f9fa;
    padding: 80px 0;
}

.intro-content {
    width: 800px;
    margin: 0 auto;
}

.intro-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.intro-subtitle {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.intro-button {
    display: inline-block;
    margin-top: 20px;
}
</style>

<div class="container ">
    <!-- Intro Section -->
    <section class="intro-section text-center">
        <div class="intro-content">
            <h1 class="intro-title"> <span class="text-success">Frog Quiz</span> - Trang học trực tuyến hàng đầu
                Việt Nam</h1>
            <p class="intro-subtitle">
                Trang web với các khóa học CNTT giúp cho học viên dễ hiểu hơn về CNTT cũng như tiếp cận với các công
                nghệ có thể được dùng cho một trang web
            <p>
                Được phát triển bởi Lê Hoàng Huy - PC07715
            </p>
            </p>
            <a href="#!assets/views/user/danh_muc_khoa_hoc" class="btn btn-success intro-button fw-bold">Xem Thêm...</a>
        </div>
    </section>
</div>
<h1 id="xemThem" class="bd-title d-flex justify-content-center mt-4">Về chúng tôi</h1>
<div class="container my-5 ">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Lịch sử hình thành<span class="text-body-secondary"> - Ý
                    tưởng</span></h2>
            <div class="lead">
                <p>Frog Quiz không chỉ là một trang web học online mà là sản phẩm của một hành trình sáng tạo, bắt
                    đầu
                    từ niềm đam mê chung về việc làm cho học IT trở nên thú vị và hiệu quả. Từ những buổi thảo luận
                    và
                    làm việc khuya, ý tưởng tạo ra một cộng đồng học tập đa dạng và thú vị đã nảy sinh.</p>
                <p>
                    Frog Quiz không chỉ là một trang web học online mà là sản phẩm của một hành trình sáng tạo, bắt
                    đầu
                    từ niềm đam mê chung về việc làm cho học IT trở nên thú vị và hiệu quả. Từ những buổi thảo luận
                    và
                    làm việc khuya, ý tưởng tạo ra một cộng đồng học tập đa dạng và thú vị đã nảy sinh.

                    Frog Quiz hướng đến việc kết hợp chất lượng đào tạo và sự đổi mới trong giảng dạy, không chỉ để
                    cung
                    cấp kiến thức mà còn để tạo ra một trải nghiệm học tập đặc biệt. Hệ thống đánh giá linh hoạt
                    giúp
                    học viên tự kiểm soát và theo dõi tiến trình cá nhân, trong khi cộng đồng hỗ trợ năng động giúp
                    họ
                    tìm kiếm sự đồng hành trên hành trình học tập của mình. Frog Quiz là điểm đến hàng đầu cho những
                    người muốn phát triển cá nhân và nghề nghiệp trong lĩnh vực IT. Hãy cùng nhau chinh phục thách
                    thức
                    và khám phá sức mạnh của kiến thức IT tại Frog Quiz!</p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="https://static.tnex.com.vn/uploads/2021/09/NANG-CAP-BAN-THAN.png"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" alt="">
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center mt-4">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Chinh phục Thách thức với Frog Quiz <span
                    class="text-body-secondary">- Trải nghiệm Học IT Độc Đáo</span></h2>
            <div class="lead">
                <ol>
                    <li>Thách Thức Học Tập Đa Dạng</li>
                    <li>Chất Lượng Đào Tạo Cao Cấp</li>
                    <li>Kiểm Tra Hiệu Suất và Tiến Bộ Cá Nhân</li>
                    <li>Cộng Đồng Hỗ Trợ Chặt Chẽ</li>
                    <li>Chế Độ Học Linh Hoạt</li>
                </ol>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://omisell.com/vi-vn/wp-content/uploads/sites/2/2021/12/tao-va-ban-khoa-hoc-truc-tuyen.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" alt="">
            </svg>
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Quyền riêng tư <span class="text-body-secondary">- An toàn
                    thông tin của bạn</span></h2>
            <div class="lead">
                <ol>
                    <li>
                        Bảo Mật Thông Tin Cá Nhân
                        <ul class="pt-2">
                            <li>Mọi thông tin cá nhân của bạn được bảo vệ chặt chẽ và chỉ sử dụng cho mục đích học
                                tập.
                            </li>
                            <li class="pt-2 ">Chúng tôi tuân thủ các tiêu chuẩn bảo mật cao nhất để ngăn chặn truy
                                cập trái phép
                                và lưu trữ thông tin của bạn một cách an toàn.</li>
                        </ul>
                    </li>
                    <li class="pt-2">
                        Không Chia Sẻ Thông Tin Với Bên Thứ Ba
                        <ul class="pt-2">
                            <li>Chúng tôi cam kết không chia sẻ thông tin cá nhân của bạn với bất kỳ bên thứ ba nào
                                mà không có sự đồng ý rõ ràng từ bạn.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-md-5">
            <img src="https://mtsmart.vn/uploads/blog/9-meo-chinh-sua-quyen-rieng-tu-tren-dien-thoai-android-ban-can-biet-231218053937.jpg"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" alt="">
        </div>
    </div>
</div>