<div class="container-lg">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-title">FAQs - Câu hỏi thường gặp</h1>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="clearfix mb-0">
                            <a class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne"><i
                                    class="fa fa-chevron-circle-down"></i>Giảng dạy có hiệu quả?</a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            "Duyệt qua biển kiến thức với sự tin tưởng tuyệt đối! Trang web học online của chúng tôi
                            không chỉ là nơi để học, mà còn là nguồn đáng tin cậy, nơi mà sự phát triển cá nhân của
                            bạn được đặt lên hàng đầu. Hãy khám phá, học và phát triển cùng chúng tôi - nền tảng
                            giáo dục đáng tin cậy của bạn."
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed"  data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i
                                    class="fa fa-chevron-circle-down"></i> Tại sao nên chọn chúng tôi?</a>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            "Tại sao chọn chúng tôi làm điểm đến chính cho hành trình học tập của bạn? Đơn giản vì
                            chúng tôi không chỉ cung cấp kiến thức mà còn xây dựng cầu nối giữa sự hiểu biết và ứng
                            dụng thực tế. Trang web học online của chúng tôi không chỉ là nơi học mà còn là một cộng
                            đồng năng động, nơi bạn sẽ tìm thấy sự hỗ trợ, đồng hành và nguồn động viên không ngừng.
                            Với chất lượng đào tạo chuyên sâu và phương pháp giảng dạy tiên tiến, chúng tôi cam kết đưa bạn đến thành công. Hãy bắt đầu hành trình của bạn tại đây và trải nghiệm sự khác
                            biệt mà chúng tôi mang lại cho sự phát triển cá nhân và sự nghiệp của bạn."
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed"data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i
                                    class="fa fa-chevron-circle-down"></i> Tôi quên mật khẩu?</a>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ol type="1">
                                <li>Nhấp vào liên kết 'Quên mật khẩu' ở trang đăng nhập.</li>
                                <li>Nhập địa chỉ email bạn sử dụng để đăng ký tài khoản.</li>
                                <li>Kiểm tra hộp thư đến của bạn để nhận liên kết đặt lại mật khẩu.</li>
                                <li>Nhấp vào liên kết và làm theo hướng dẫn để đặt lại mật khẩu mới.</li>
                                <li> Nhớ lưu mật khẩu mới của bạn và tiếp tục hành trình học tập!"</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <a class="btn btn-link collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i
                                    class="fa fa-chevron-circle-down"></i>Tôi có thể thử nghiệm khóa học trước khi
                                đăng ký không?</a>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Chúng tôi cung cấp tùy chọn để bạn thử nghiệm khóa học trước khi quyết định đăng ký. Quá
                            trình này thường bao gồm các mục như video giới thiệu, một số bài giảng mẫu, hoặc một số/-strong/-heart:>:o:-((:-h nội dung mẫu từ khóa học. Điều này giúp bạn có cái nhìn sâu rộng hơn về nội dung, phong
                            cách giảng dạy, và phương pháp học trước khi đưa ra quyết định cuối cùng. Bạn có thể tận
                            dụng tính năng này để đảm bảo rằng khóa học đáp ứng đúng nhu cầu và mong muốn học tập
                            của bạn trước khi cam kết đăng ký.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>