<!-- <hr class="featurette-divider">
footer start -->
<footer>
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3 class="footer-logo text-success">E-Learning</h3>
                            <ul>
                                <li><a href="#!assets/views/about" onclick="window.scrollTo(0, 0)">Về chúng tôi</a></li>
                                <li><a href="#!assets/views/user/dong_gop_y_kien" onclick="window.scrollTo(0, 0)">Đóng góp ý kiến</a></li>
                                <li><a href="#!assets/views/FAQ" onclick="window.scrollTo(0, 0)">Hỏi đáp</a></li>
                                <li><a href="#!assets/views/lien_he" onclick="window.scrollTo(0, 0)">Liên hệ</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3 class="text-light">learning</h3>
                            <ul>
                                <li><a href="#!assets/views/user/danh_muc_khoa_hoc" onclick="window.scrollTo(0, 0)">Các khóa học</a></li>
                                <!-- <li><a href="#" onclick="window.scrollTo(0, 0)">Đội ngũ giáo viên</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3 class="text-light">more</h3>
                            <ul>
                                <li><a href="#">Chi nhánh</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Hotline: 0389955132</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <h3 class="text-light">Contact</h3>
                            <ul>
                                <li><a href="https://www.facebook.com/huylhcoder"><i
                                            class="fab fa-facebook social-icon"></i>
                                        facebook</a></li>
                                <li><a href="https://twitter.com/"><i class="fab fa-twitter social-icon"></i>
                                        twitter</a></li>
                                <li><a href="https://www.instagram.com/?hl=en"><i
                                            class="fab fa-instagram social-icon"></i> instagram</a></li>
                                <li><a href="https://www.youtube.com/"><i class="fab fa-youtube social-icon"></i>
                                        youtube</a></li>
                                <!-- <li><a href="https://www.linkedin.com/"><i
                                            class="fab fa-linkedin social-icon"></i> linkedin</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom pb-5">
            <div class="container">
                <p class="m-0 py-4 text-center">copyright &copy;2024 <a href="home.html" onclick="window.scrollTo(0, 0)">Revolutionary</a></p>
            </div>
        </div>
</footer>