<h1 class="text-success">Test link</h1>
<ul>
    <ol class="text-danger">Nếu mà chỗ này mình link sai thì nó sẽ chuyển về trang home</ol>
    <ol class="text-danger">Mở main coi đã khai bào + thẻ a đã viết href đúng chưa</ol>
    <ol class="text-success">Nữa cần chuyển trang thì copy cái href rồi để vô chỗ hợp lý thôi</ol>
</ul>
<hr>
<h3 class="text-bg-danger">ADMIN</h3>
<a href="#!assets/views/admin/userAdmin">>>Trang người dùng - Khoa</a>
<br>
<a href="#!assets/views/admin/feedback">>>Trang đánh giá - Khoa</a>
<br>
<a href="#!assets/views/admin/course_manager">>>Trang quản lý khóa học - Huy</a>
<br>
<a href="#!assets/views/admin/course_manager_detail">>>Đến trang Quản lý chi tiết khóa học - Huy</a>
<br>
<a href="#!assets/views/admin/quan_ly_khuyen_mai">>>Trang khuyến mãi - Toàn</a>
<br>
<a href="#!assets/views/admin/quan_ly_danh_muc">>>Trang quản lý danh mục - Tâm</a>
<br>
<a href="#!assets/views/admin/thong_ke">>>Trang Thống kê - Bảo</a>
<br>
<h3 class="text-bg-danger">USER</h3>
<a href="#!assets/views/FAQ">>>FAQ -Bảo</a>
<br>
<a href="/assets/views/quen_mat_khau.html">>>Quên Mật Khẩu - Bảo</a>
<br>
<a href="#!assets/views/user/hoc_bai">>>Học bài - Hào</a>
<br>
<a href="#!assets/views/user/khoahocyeuthich">>> khóa học yêu thích - Hào</a>
<br>
<a href="#!assets/views/user/gio_hang">>>Đến giỏ hàng - Bảo</a>
<br>
<a href="#!assets/views/user/chi_tiet_khoa_hoc">>>Đến chi tiết khóa học - Hào - Toàn</a>
<br>
<a href="#!assets/views/user/quiz">>>Đến quiz - Tâm</a>
<br>
<a href="#!assets/views/user/checkout">>>Đến trang check out - Huy</a>
<br>
<a href="#!assets/views/user/course">>>Đến trang tìm kiếm khóa học - Bảo</a>
<br>
<a href="#!assets/views/user/demo_thong_tin_user">>>Trang profile - Toàn</a>
<br>
<a href="#!assets/views/user/danh_muc_khoa_hoc">>>Trang danh mục khóa học - Bảo</a>
<br>
<a href="#!assets/views/payment/thanh_toan_thanh_cong">>>Thanh toán thành công - Huy</a>
<br>
<h3 class="text-bg-danger">CHUNG</h3>
<a href="#!assets/views/dang_ky">>>Trang đăng ký - Khoa</a>
<br>
<a href="#!assets/views/dang_nhap">>>Trang đăng nhập - Khoa</a>
<br>
<a href="#!assets/views/about">>>About - Khoa</a>

