<!DOCTYPE html>
<html lang="en" ng-app="HBaoApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification</title>
    <link href="/assets/img/logo/icon_frogquiz.png" rel="icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/056858cf83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/assets/css/verificationOTP.css">
</head>

<body ng-controller="forgotPassController">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-5 mt-5 ">
                <div class="bg-white p-5 rounded-3 shadow-sm border ">
                    <div>
                        <p class="text-center text-success" style="font-size: 5.5rem;"><i
                                class="fa-solid fa-envelope-circle-check"></i></p>
                        <p class="text-center text-center h5 ">Vui lòng kiểm tra email của bạn</p>
                        <p class="text-muted text-center">Chúng tôi đã gửi mã OTP đến {{mail}}</p>
                        <div class="row pt-4 pb-2">
                            <div class="col-2">
                                <input id="otp1" class="otp-letter-input" type="text" maxlength="1" ng-model="otp[0]"
                                    oninput="moveToNext(this)">
                            </div>
                            <div class="col-2">
                                <input id="otp2" class="otp-letter-input" type="text" maxlength="1" ng-model="otp[1]"
                                    oninput="moveToNext(this)">
                            </div>
                            <div class="col-2">
                                <input id="otp3" class="otp-letter-input" type="text" maxlength="1" ng-model="otp[2]"
                                    oninput="moveToNext(this)">
                            </div>
                            <div class="col-2">
                                <input id="otp4" class="otp-letter-input" type="text" maxlength="1" ng-model="otp[3]"
                                    oninput="moveToNext(this)">
                            </div>
                            <div class="col-2">
                                <input id="otp5" class="otp-letter-input" type="text" maxlength="1" ng-model="otp[4]"
                                    oninput="moveToNext(this)">
                            </div>
                            <div class="col-2">
                                <input id="otp6" class="otp-letter-input" type="text" maxlength="1" ng-model="otp[5]"
                                    oninput="moveToNext(this)">
                            </div>
                        </div>
                        <p class="text-muted text-center" ng-click="resendOTPCode()">Bạn không nhận được mã? <a href="#" class="text-success">Nhấn
                                để gửi lại.</a></p>
                        <div class="row pt-5">
                            <div class="col-6">
                                <button class="btn btn-outline-secondary w-100">Thoát</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-success w-100" ng-click="checkOtp()">Kiểm tra</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        function moveToNext(current) {
            if (current.value.length >= current.maxLength) {
                const nextInput = current.parentElement.nextElementSibling?.querySelector(".otp-letter-input");
                if (nextInput) {
                    nextInput.focus();
                }
            }
        }
    </script>
    <script src="/assets/JS/BaoForgotPass.js"></script>
</body>

</html>