<link rel="stylesheet" href="/assets/css/thanh_toan_that_bai.css">
<main class="noidung">
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded">
                <div class="card-body text-center">
                    <div class="mb-4">
                      <i class="icon an an-shield-check fs-1"></i>
                        <h3 class="text-danger">Thanh toán thất bại!</h3>
                        <p>Đơn hàng của bạn thanh toán không thành công. Vui lòng thanh toán lại đơn hàng!</p>
                    </div>
                    <button ng-click="thanhToan()" class="btn btn-primary">Đơn hàng của bạn</button>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
